@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191d21;
  --color: #d3d3d3;
  --muted: #6c757d;
  --lightning: #fada5e;
  --nostr: #8d45dd;
  --black: #000;
  --white: #fff;
  --bg-success: #149e613d;
  --fg-success: #35df8d;
  --bg-error: #f5395e3d;
  --fg-error: #ff7386;
  --bg-info: #007cbe;
  --fg-info: #007cbe;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--color);
  }

  input {
    color: #000;
  }

  input:focus-visible {
    outline: solid 2px var(--muted);
  }

  #content {
    min-height: 85svh;
  }

  #banner {
    transform: scale(.8);
  }

  #banner-new {
    transform: scale(.7);
  }

  @media (min-width: 768px) {
    #content {
      min-height: 90svh;
    }

    #banner,
    #banner-new {
      transform: scale(1.0);
    }
  }

  .figlet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 144px;
    @apply my-3;
  }

  button[hx-get],
  button[hx-post],
  button[type="submit"],
  .button {
    @apply rounded;
  }

  button[hx-get]:not(:disabled):hover,
  button[hx-post]:not(:disabled):hover,
  button[type="submit"]:not(:disabled):hover,
  .button:not(:disabled):hover {
    background-color: var(--color);
    color: var(--background);
  }

  button[hx-get] {
    text-decoration: underline;
  }

  button[hx-post],
  button[type="submit"],
  .button {
    border-width: 1px;
  }

  nav a,
  button[hx-get],
  button[hx-post],
  button[type="submit"] {
    padding: 0 0.25em;
    min-width: 4em;
  }

  button:disabled {
    color: var(--muted);
    border-color: var(--muted);
  }

  a:hover {
    @apply underline;
    cursor: pointer;
  }

  form #cancel {
    cursor: pointer;
    color: var(--muted);
  }

  form #cancel:hover {
    color: var(--color);
    text-decoration: none;
  }

  .htmx-indicator {
    opacity: 0;
    height: .5vh;
    left: 0;
    width: 100%;
    background-color: var(--color);
    transition: opacity .2s ease-out, width .2s ease-out;
  }

  .htmx-indicator.htmx-request {
    opacity: 1;
    /* if I'd be smart, I would use the Content-Length header in some way to determine the duration */
    animation: progressbar 1s ease-in-out;
  }

  @keyframes progressbar {
    from {
      left: 0;
      width: 0;
    }
    to {
      left: 0;
      width: 100%;
    }
  }

  .neon {
    border: none;
    padding: 0.5em 3em;
  }

  .neon.success {
    background-color: var(--bg-success);
    color: var(--fg-success);
  }

  .neon.success:hover,
  .neon.success.active {
    background-color: var(--fg-success) !important;
    color: var(--white) !important;
  }

  .neon.error {
    background-color: var(--bg-error);
    color: var(--fg-error);
  }

  .neon.error:hover,
  .neon.error.active {
    background-color: var(--fg-error);
    color: var(--white);
  }

  .neon.info {
    background-color: var(--bg-info);
    color: var(--white);
  }
}