package pages

import (
	"net/http"
	"strconv"
	"github.com/ekzyis/zapback/pages/components"
)

type FormError map[string]string

templ Error(code int) {
	<html>
		@components.Head()
		@components.Body() {
			@components.Content() {
				@components.Figlet("random", strconv.Itoa(code))
				<div class="font-mono mb-3">{ http.StatusText(code) }</div>
			}
		}
	</html>
}
