package pages

import (
    "github.com/ekzyis/zapback/pages/components"
    "github.com/ekzyis/zapback/lightning"
)

templ Invoice(invoice *lightning.Invoice) {
    <html>
        @components.Head()
        @components.Body() {
			@components.Content() {
                @components.Invoice(invoice)
            }
        }
    </html>
}