package pages

import (
    "github.com/ekzyis/zapback/pages/components"
    "github.com/ekzyis/zapback/pages/types"
)

templ NewGame(err types.FormError) {
    <html>
        @components.Head()
        @components.Body() {
			@components.Content() {
                <div id="banner-new">
                    @components.Figlet("slant", "new game")
                </div>
                <div class="mb-3">
                    To start a new game, you must fund the pool with your first zap.
                    The size of your first zap determines the size of each zap in the game.
                    Last zapper within 24 hours wins!
                </div>
                <form
                    hx-post="/game"
                    hx-target="#modal"
                    hx-select="#modal"
                    hx-push-url="false"
                    hx-disabled-elt="button[type='submit']"
                    hx-on::before-request="document.querySelectorAll('.text-error').forEach(el => el.remove())">
                    <div class="grid grid-cols-[auto_auto] gap-x-4 items-center my-3">
                        <label for="zap_amount">zap amount</label>
                        <div class="relative">
                            <input
                                id="zap_amount"
                                name="zap_amount"
                                value="100"
                                type="number"
                                class="my-1 p-2 pr-12 rounded"
                                hx-preserve />
                            <span class="absolute right-3 top-1/2 -translate-y-1/2 text-muted">sats</span>
                        </div>
                        if err.HasError("zap_amount") {
                            <div class="text-error text-sm text-end col-start-2">{ err["zap_amount"] }</div>
                        }
                        <label for="lnaddr">lightning address</label>
                        <!-- TODO: outline input on error while preserving value -->
                        <input
                            id="lnaddr"
                            name="lnaddr"
                            type="text"
                            class="my-1 p-2 rounded w-full"
                            placeholder="how you get paid if you win"
                            autocomplete="off"
                            hx-preserve />
                        if err.HasError("lnaddr") {
                            <div class="text-error text-sm text-end col-start-2">{ err["lnaddr"] }</div>
                        }
                        <label for="players">players</label>
                        <input
                            id="players"
                            name="players"
                            type="number"
                            min="2"
                            max="2"
                            value="2"
                            disabled
                            class="my-1 p-2 rounded" />
                        <div class="text-muted text-sm text-end col-start-2">more than 2 players coming soon</div>
                    </div>
                    <div class="flex justify-end">
                        <a
                            id="cancel"
                            class="mx-3"
                            hx-get="/"
                            hx-target="#content"
                            hx-select="#content"
                        >cancel</a>
                        <button type="submit">submit</button>
                    </div>
                </form>
            }
        }
    </html>
}
