package pages

import "github.com/ekzyis/zapback/pages/components"

templ NewGame() {
    <html>
        @components.Head()
        @components.Body() {
			@components.Content() {
                <div id="banner-new">
                    @components.Figlet("slant", "new game")
                </div>
                <form
                    hx-post="/new"
                    hx-target="#modal"
                    hx-select="#modal">
                    <div class="grid grid-cols-[auto_auto] gap-4 items-center">
                        <label for="zap_amount">zap amount</label>
                        <div class="relative">
                            <input
                                id="zap_amount"
                                name="zap_amount"
                                type="number"
                                class="my-3 p-2 pr-12 border rounded" />
                            <span class="absolute right-3 top-1/2 -translate-y-1/2 text-muted">sats</span>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <a
                            id="cancel"
                            class="mx-3"
                            hx-get="/"
                            hx-target="#content"
                            hx-select="#content"
                        >cancel</a>
                        <button type="submit">submit</button>
                    </div>
                </form>
            }
        }
    </html>
}