package components

templ Body() {
    <body class="container">
        <div
            id="indicator"
            class="htmx-indicator fixed top-0">
        </div>
        { children... }
    </body>
}