package components

import "github.com/ekzyis/zapback/lib"

templ Figlet(font string, text string) {
	<code class="figlet cursor-pointer" hx-get="/" hx-target="#content" hx-select="#content">
		<strong>
			<pre>
				{ lib.Figlet(font, text) }
			</pre>
		</strong>
	</code>
}
